.mobileModel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 100;
}
.modelView{
    background-color: black;
    color: white;
    padding: 30px 20px;
    position: fixed;
    z-index: 110;
    bottom: 0;
    top: 0;
    border-bottom-left-radius: 5px;
}